.dashboard-wrapper {
  margin: 10px auto;
  max-width: 1300px;
  padding: 0 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dashboard-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.dashboard-wrapper li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 30px;
}

.dashboard-wrapper li:last-child {
  border: none;
}

.table-head {
  background: lightgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.search-counter {
  width: 10%;
  text-align: center;
}

.search-query {
  width: 90%;
  text-align: center;
}

.numbers-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 300px;
  margin: 10px 0;
}

.number-of-searches {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.most-searched {
  width: 70%;
  margin-left: 10px;
  padding: 5px;
  background: rgb(235, 235, 235);
  border-radius: 5px;
}

.chart-wrapper {
  height: 90%;
}

.numbers-analytic {
  border-radius: 5px;
  background: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbers-analytic > .number {
  font-size: 50px;
}

.numbers-analytic > .header {
  text-transform: uppercase;
  font-size: 14px;
}

.searches-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 300px;
}

.found-searches {
  width: 50%;
}

.not-found-searches {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .numbers-wrapper {
    display: block;
    height: auto;
  }

  .number-of-searches {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }

  .numbers-analytic {
    height: 120px;
  }

  .most-searched {
    display: none;
  }

  .searches-wrapper {
    display: block;
  }

  .found-searches {
    width: 100%;
  }

  .not-found-searches {
    width: 100%;
  }
}
